#tooltip-container {
    position: fixed;
    display: none;
    border: 1px solid #ccc;
    background: #ffffff;
    padding: 10px;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    z-index: 999;
    pointer-events: none;
}
